:root {
    --sidebar: #020617;
    --primary: #2563eb;
    --card: #ffffff;
    --bg: #f8fafc;
    --text-dark: #0f172a;
    --text-light: #64748b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--bg);
}

.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 270px;
    background: linear-gradient(180deg,#020617,#020617,#0f172a);
    color: white;
    padding: 25px;
    box-shadow: 4px 0 30px rgba(0,0,0,.2);
}

.logo {
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 800;
    letter-spacing: 1px;
}

.sidebar nav a {
    display: block;
    padding: 14px 15px;
    margin-bottom: 8px;
    border-radius: 10px;
    color: #cbd5f5;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.sidebar nav a:hover {
    background: rgba(255,255,255,.08);
    transform: translateX(6px);
    color: white;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 35px;
    overflow-y: scroll;
    animation: fade .6s ease;
}

@keyframes fade {
    from {opacity:0; transform: translateY(10px);}
    to {opacity:1; transform: translateY(0);}
}

/* CARD */
.card {
    background: var(--card);
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 10px 35px rgba(0,0,0,.06);
    transition: .3s;
}

.card:hover {
    transform: translateY(-6px);
}

/* BUTTONS */
.btn {
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background: var(--primary);
    color: white;
}
